In [258]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns 

from sklearn.model_selection import GridSearchCV 
from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier

In [4]:
games = pd.read_csv('2018games.csv', encoding = "ISO-8859-1")

In [7]:
games = games.dropna(subset=['Date'])

In [50]:
games = games.loc[:10448]

In [51]:
games2 = pd.read_csv('2018games2.csv', encoding="ISO-8859-1")

In [52]:
games = games.append(games2, ignore_index=True)

In [65]:
games.loc[games['Team'] == 'Brown']

,Unnamed: 0,G,Date,Site,Opp,W/L,score_Tm,score_Opp,Tm_FG,Tm_FGA,...,opp_FTA,opp_FT%,opp_ORB,opp_TRB,opp_AST,opp_STL,opp_BLK,opp_TOV,opp_PF,Team
998,1029,1,2017-11-11,NaN,Johnson & Wales (RI),W,106.0,78.0,32.0,78.0,...,31.0,0.774,7.0,31.0,12.0,4.0,6.0,18.0,28.0,Brown
999,1030,2,2017-11-13,@,Quinnipiac,W,79.0,72.0,26.0,61.0,...,27.0,0.481,7.0,26.0,16.0,6.0,7.0,13.0,20.0,Brown
1000,1031,3,2017-11-19,@,St. Francis (NY),L,74.0,77.0,24.0,52.0,...,17.0,0.529,7.0,33.0,12.0,6.0,2.0,12.0,18.0,Brown
1001,1032,4,2017-11-22,@,Stony Brook,L,64.0,77.0,22.0,65.0,...,21.0,0.714,3.0,31.0,19.0,6.0,3.0,10.0,19.0,Brown
1002,1033,5,2017-11-25,NaN,LIU-Brooklyn,W,94.0,86.0,30.0,54.0,...,28.0,0.714,9.0,28.0,11.0,13.0,5.0,19.0,32.0,Brown
1003,1034,6,2017-11-26,@,Bryant,W,81.0,67.0,24.0,51.0,...,17.0,0.647,8.0,33.0,15.0,8.0,2.0,18.0,26.0,Brown
1004,1035,7,2017-11-28,@,Rhode Island,L,62.0,86.0,19.0,56.0,...,14.0,0.500,8.0,31.0,16.0,9.0,8.0,15.0,23.0,Brown
1005,1036,8,2017-12-02,NaN,Central Connecticut,L,62.0,68.0,20.0,54.0,...,15.0,0.733,13.0,40.0,12.0,4.0,0.0,17.0,15.0,Brown
1006,1037,9,2017-12-06,@,Providence,LÂ (1 OT),72.0,77.0,24.0,61.0,...,30.0,0.667,13.0,42.0,13.0,11.0,9.0,17.0,20.0,Brown
1007,1038,10,2017-12-09,NaN,UMass-Lowell,W,89.0,75.0,29.0,56.0,...,19.0,0.632,9.0,27.0,15.0,4.0,2.0,12.0,22.0,Brown
1008,1039,11,2017-12-22,NaN,Marist,W,90.0,69.0,33.0,67.0,...,18.0,0.778,3.0,29.0,5.0,4.0,4.0,15.0,17.0,Brown
1009,1040,12,2017-12-30,@,Northwestern,L,73.0,95.0,25.0,64.0,...,28.0,0.821,8.0,33.0,19.0,7.0,9.0,9.0,18.0,Brown
1010,1041,13,2018-01-03,NaN,NJIT,W,70.0,69.0,27.0,55.0,...,13.0,0.692,12.0,38.0,14.0,6.0,4.0,11.0,18.0,Brown
1011,1042,14,2018-01-12,@,Yale,L,72.0,78.0,23.0,53.0,...,24.0,0.708,10.0,34.0,19.0,10.0,1.0,19.0,27.0,Brown
1012,1043,15,2018-01-19,NaN,Yale,W,81.0,80.0,25.0,51.0,...,27.0,0.630,9.0,29.0,6.0,9.0,4.0,17.0,22.0,Brown
1013,1044,16,2018-01-26,NaN,Dartmouth,W,64.0,62.0,23.0,61.0,...,21.0,0.619,10.0,35.0,13.0,7.0,3.0,16.0,17.0,Brown
1014,1045,17,2018-01-27,NaN,Harvard,L,77.0,86.0,22.0,54.0,...,29.0,0.862,4.0,26.0,9.0,9.0,5.0,16.0,25.0,Brown
1015,1046,18,2018-02-02,@,Penn,LÂ (1 OT),90.0,95.0,35.0,71.0,...,44.0,0.682,6.0,32.0,14.0,7.0,5.0,14.0,18.0,Brown
1016,1047,19,2018-02-03,@,Princeton,WÂ (1 OT),102.0,100.0,33.0,57.0,...,20.0,0.650,11.0,31.0,16.0,3.0,4.0,8.0,23.0,Brown
1017,1048,20,2018-02-09,NaN,Cornell,L,60.0,78.0,21.0,67.0,...,21.0,0.619,7.0,34.0,19.0,7.0,6.0,12.0,14.0,Brown
1018,1049,21,2018-02-10,NaN,Columbia,WÂ (1 OT),91.0,88.0,33.0,69.0,...,15.0,0.667,8.0,35.0,17.0,8.0,2.0,17.0,19.0,Brown
1019,1050,22,2018-02-16,@,Harvard,L,58.0,65.0,22.0,58.0,...,26.0,0.654,10.0,38.0,10.0,6.0,3.0,15.0,18.0,Brown
1020,1051,23,2018-02-17,@,Dartmouth,L,63.0,66.0,22.0,58.0,...,17.0,0.647,5.0,31.0,13.0,5.0,6.0,20.0,18.0,Brown
1021,1052,24,2018-02-23,@,Columbia,L,82.0,89.0,24.0,61.0,...,38.0,0.868,7.0,33.0,11.0,9.0,7.0,10.0,26.0,Brown
1022,1053,25,2018-02-24,@,Cornell,L,68.0,73.0,23.0,68.0,...,19.0,0.842,5.0,27.0,17.0,6.0,10.0,9.0,22.0,Brown
1023,1054,26,2018-03-02,NaN,Princeton,L,63.0,78.0,21.0,62.0,...,22.0,0.864,3.0,34.0,8.0,3.0,3.0,9.0,19.0,Brown
1024,1055,27,2018-03-03,NaN,Penn,L,93.0,99.0,33.0,67.0,...,30.0,0.800,5.0,30.0,15.0,5.0,6.0,10.0,18.0,Brown

In [83]:
games.loc[games['Opp'] == 'CCNY']

,Unnamed: 0,G,Date,Site,Opp,W/L,score_Tm,score_Opp,Tm_FG,Tm_FGA,...,opp_FTA,opp_FT%,opp_ORB,opp_TRB,opp_AST,opp_STL,opp_BLK,opp_TOV,opp_PF,Team
8189,8476,1,2017-11-10,NaN,CCNY,W,94.0,38.0,38.0,62.0,...,8.0,0.625,3.0,17.0,5.0,5.0,0.0,18.0,25.0,Rutgers

In [84]:
long_names = ['Maryland-Baltimore County NCAA', 
              'Nevada-Las Vegas', 'UCLA NCAA', 
              'Southern California', 'Texas-El Paso', 
              'Virginia Commonwealth', 'Louisiana State', 
              'Central Florida', 'Texas-San Antonio', 
              'North Carolina NCAA', 'UC-Santa Barbara', 
              'Missouri-Kansas City', 'East Tennessee State', 
              'Illinois-Chicago']

short_names = ['UMBC', 'UNLV', 'UCLA', 'USC', 'UTEP', 
               'VCU', 'LSU', 'BYU', 'UCF', 'UTSA', 'UNC', 
               'UCSB', 'UMKC', 'ETSU', 'UIC']

In [85]:
for lg, sh in zip(long_names, short_names):
    games.loc[games['Team'] == lg, 'Team'] = sh

In [88]:
games = games.dropna(subset=['Date'])

In [169]:
temp = games.loc[games['Team'].str.contains(' NCAA'), 'Team'].str.split(' NCAA')

In [170]:
temp = temp.append(games.loc[games['Team'].str.contains('\xa0NCAA'), 'Team'].str.split('\xa0NCAA'))

In [171]:
def get_team(row):
    return row[0]

In [172]:
temp = temp.apply(get_team)

In [173]:
games['Team2'] = temp

C:\Users\hello\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [174]:
games.loc[games.loc[games['Team2'].isnull()].index, 'Team2'] = games.loc[games.loc[games['Team2'].isnull()].index, 'Team']

C:\Users\hello\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [179]:
season = pd.read_clipboard(sep=',', header=1)
season.columns = ['Rk', 'School', 'o_G', 'o_W', 'o_L', 'o_W-L%', 'o_SRS', 'o_SOS', 
 'conf_W', 'conf_L', 'home_W', 'home_L', 'away_W', 'away_L', 
 'pts_Tm', 'pts_Opp', 'blank', 'totals_MP',
 'totals_FG', 'totals_FGA', 'totals_FG%', 'totals_3P', 
 'totals_3PA', 'totals_3P%', 'totals_FT', 'totals_FTA', 
 'totals_FT%', 'totals_ORB',
 'totals_TRB', 'totals_AST', 'totals_STL', 'totals_BLK', 
                         'totals_TOV', 'totals_PF']

In [182]:
games.loc[420]

Unnamed: 0            433
G                       1
Date           2017-11-12
Site                  NaN
Opp           Texas State
W/L                     W
score_Tm               65
score_Opp              57
Tm_FG                  25
Tm_FGA                 60
Tm_FG%              0.417
Tm_3P                   8
Tm_3PA                 20
Tm_3P%                0.4
Tm_FT                   7
Tm_FTA                  9
Tm_FT%              0.778
Tm_ORB                 10
Tm_TRB                 29
Tm_AST                 16
Tm_STL                 11
Tm_BLK                  3
Tm_TOV                 10
Tm_PF                  21
blank                 NaN
opp_FG                 20
opp_FGA                44
opp_FG%             0.455
opp_3P                  5
opp_3PA                13
opp_3P%             0.385
opp_FT                 12
opp_FTA                17
opp_FT%             0.706
opp_ORB                 6
opp_TRB                31
opp_AST                 8
opp_STL                 4
opp_BLK                 3
opp_TOV                19
opp_PF                 14
Team            Air Force
Team2           Air Force
Name: 420, dtype: object

In [188]:
season.loc[season['School']==games.loc[420, 'Team2']]

,Rk,School,o_G,o_W,o_L,o_W-L%,o_SRS,o_SOS,conf_W,conf_L,...,totals_FT,totals_FTA,totals_FT%,totals_ORB,totals_TRB,totals_AST,totals_STL,totals_BLK,totals_TOV,totals_PF
1,2,Air Force,31.0,12.0,19.0,0.387,-4.02,2.01,6.0,12.0,...,408.0,556.0,0.734,302.0,1014.0,445.0,201.0,78.0,391.0,557.0

In [216]:
long_names = ['Maryland-Baltimore County NCAA', 
              'Nevada-Las Vegas', 'UCLA NCAA', 
              'Southern California', 'Texas-El Paso', 
              'Virginia Commonwealth', 'Louisiana State', 
              'Central Florida', 'Texas-San Antonio', 
              'North Carolina NCAA', 'UC-Santa Barbara', 
              'Missouri-Kansas City', 'East Tennessee State', 
              'Illinois-Chicago']

short_names = ['UMBC', 'UNLV', 'UCLA', 'USC', 'UTEP', 
               'VCU', 'LSU', 'BYU', 'UCF', 'UTSA', 'UNC', 
               'UCSB', 'UMKC', 'ETSU', 'UIC']

In [217]:
for lg, sh in zip(long_names, short_names):
    season.loc[season['School'] == lg, 'School'] = sh

C:\Users\hello\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [218]:
season = season.dropna(subset=['School'])

In [219]:
temp = season.loc[season['School'].str.contains(' NCAA'), 'School'].str.split(' NCAA')

In [220]:
temp = temp.append(season.loc[season['School'].str.contains('\xa0NCAA'), 'School'].str.split('\xa0NCAA'))

In [221]:
def get_team(row):
    return row[0]

In [222]:
temp = temp.apply(get_team)

In [223]:
temp

6                        Alabama
11                 Arizona State
12                       Arizona
16                      Arkansas
18                        Auburn
33                      Bucknell
34                       Buffalo
35                        Butler
38           Cal State Fullerton
55                    Cincinnati
57                       Clemson
61         College of Charleston
68                     Creighton
70                      Davidson
79                          Duke
95                 Florida State
96                       Florida
105                Georgia State
108                      Gonzaga
120                      Houston
130                         Iona
139                 Kansas State
140                       Kansas
143                     Kentucky
149                     Lipscomb
151       Long Island University
158                  Loyola (IL)
165                     Marshall
166    Maryland-Baltimore County
174                   Miami (FL)
                 ...
210    North Carolina-Greensboro
211         North Carolina State
213               North Carolina
228                   Ohio State
231                     Oklahoma
238                 Pennsylvania
246                   Providence
247                       Purdue
249                      Radford
250                 Rhode Island
265              San Diego State
272                   Seton Hall
278           South Dakota State
290              St. Bonaventure
294            Stephen F. Austin
297                     Syracuse
302                    Tennessee
304                    Texas A&M
306              Texas Christian
310               Texas Southern
312                   Texas Tech
313                        Texas
319                         UCLA
326                    Villanova
329                Virginia Tech
330                     Virginia
336                West Virginia
341                Wichita State
346                 Wright State
348                       Xavier
Name: School, Length: 68, dtype: object

In [224]:
season['Team2'] = temp

In [225]:
season.loc[season.loc[season['Team2'].isnull()].index, 'Team2'] = season.loc[season.loc[season['Team2'].isnull()].index, 'School']

In [226]:
season['Team2'].unique()

array(['Abilene Christian', 'Air Force', 'Akron', 'Alabama A&M',
       'Alabama-Birmingham', 'Alabama State', 'Alabama', 'Albany (NY)',
       'Alcorn State', 'American', 'Appalachian State', 'Arizona State',
       'Arizona', 'Arkansas-Little Rock', 'Arkansas-Pine Bluff',
       'Arkansas State', 'Arkansas', 'Army', 'Auburn', 'Austin Peay',
       'Ball State', 'Baylor', 'Belmont', 'Bethune-Cookman', 'Binghamton',
       'Boise State', 'Boston College', 'Boston University',
       'Bowling Green State', 'Bradley', 'Brigham Young', 'Brown',
       'Bryant', 'Bucknell', 'Buffalo', 'Butler', 'Cal Poly',
       'Cal State Bakersfield', 'Cal State Fullerton',
       'Cal State Northridge', 'UC-Davis', 'UC-Irvine', 'UC-Riverside',
       'UNC', 'University of California', 'Campbell', 'Canisius',
       'Central Arkansas', 'Central Connecticut State', 'BYU',
       'Central Michigan', 'Charleston Southern', 'Charlotte',
       'Chattanooga', 'Chicago State', 'Cincinnati', 'Citadel', 'Clemson',
       'Cleveland State', 'Coastal Carolina', 'Colgate',
       'College of Charleston', 'Colorado State', 'Colorado', 'Columbia',
       'Connecticut', 'Coppin State', 'Cornell', 'Creighton', 'Dartmouth',
       'Davidson', 'Dayton', 'Delaware State', 'Delaware', 'Denver',
       'DePaul', 'Detroit Mercy', 'Drake', 'Drexel', 'Duke', 'Duquesne',
       'East Carolina', 'UMKC', 'Eastern Illinois', 'Eastern Kentucky',
       'Eastern Michigan', 'Eastern Washington', 'Elon', 'Evansville',
       'Fairfield', 'Fairleigh Dickinson', 'Florida A&M',
       'Florida Atlantic', 'Florida Gulf Coast', 'Florida International',
       'Florida State', 'Florida', 'Fordham', 'Fresno State', 'Furman',
       'Gardner-Webb', 'George Mason', 'George Washington', 'Georgetown',
       'Georgia Southern', 'Georgia State', 'Georgia Tech', 'Georgia',
       'Gonzaga', 'Grambling', 'Grand Canyon', 'Green Bay', 'Hampton',
       'Hartford', 'Harvard', 'Hawaii', 'High Point', 'Hofstra',
       'Holy Cross', 'Houston Baptist', 'Houston', 'Howard',
       'Idaho State', 'Idaho', 'ETSU', 'Illinois State', 'Illinois',
       'Incarnate Word', 'Indiana State', 'Indiana', 'Iona', 'Iowa State',
       'Iowa', 'IPFW', 'IUPUI', 'Jackson State', 'Jacksonville State',
       'Jacksonville', 'James Madison', 'Kansas State', 'Kansas',
       'Kennesaw State', 'Kent State', 'Kentucky', 'La Salle',
       'Lafayette', 'Lamar', 'Lehigh', 'Liberty', 'Lipscomb',
       'Long Beach State', 'Long Island University', 'Longwood',
       'Louisiana', 'Louisiana-Monroe', 'LSU', 'Louisiana Tech',
       'Louisville', 'Loyola (IL)', 'Loyola Marymount', 'Loyola (MD)',
       'Maine', 'Manhattan', 'Marist', 'Marquette', 'Marshall',
       'Maryland-Baltimore County', 'Maryland-Eastern Shore', 'Maryland',
       'Massachusetts-Lowell', 'Massachusetts', 'McNeese State',
       'Memphis', 'Mercer', 'Miami (FL)', 'Miami (OH)', 'Michigan State',
       'Michigan', 'Middle Tennessee', 'Milwaukee', 'Minnesota',
       'Mississippi State', 'Mississippi Valley State', 'Mississippi',
       'UCSB', 'Missouri State', 'Missouri', 'Monmouth', 'Montana State',
       'Montana', 'Morehead State', 'Morgan State', "Mount St. Mary's",
       'Murray State', 'Navy', 'Nebraska-Omaha', 'Nebraska', 'UNLV',
       'Nevada', 'New Hampshire', 'New Mexico State', 'New Mexico',
       'New Orleans', 'Niagara', 'Nicholls State', 'NJIT',
       'Norfolk State', 'North Carolina-Asheville', 'North Carolina A&T',
       'North Carolina Central', 'North Carolina-Greensboro',
       'North Carolina State', 'North Carolina-Wilmington',
       'North Carolina', 'North Dakota State', 'North Dakota',
       'North Florida', 'North Texas', 'Northeastern', 'Northern Arizona',
       'Northern Colorado', 'Northern Illinois', 'Northern Iowa',
       'Northern Kentucky', 'Northwestern State', 'Northwestern',
       'Notre Dame', 'Oakland', 'Ohio State', 'Ohio', 'Oklahoma State',
       'Oklahoma', 'Old Dominion', 'Oral Roberts', 'Oregon State',
       'Oregon', 'Pacific', 'Penn State', 'Pennsylvania', 'Pepperdine',
       'Pittsburgh', 'Portland State', 'Portland', 'Prairie View',
       'Presbyterian', 'Princeton', 'Providence', 'Purdue', 'Quinnipiac',
       'Radford', 'Rhode Island', 'Rice', 'Richmond', 'Rider',
       'Robert Morris', 'Rutgers', 'Sacramento State', 'Sacred Heart',
       'Saint Francis (PA)', "Saint Joseph's", 'Saint Louis',
       "Saint Mary's (CA)", "Saint Peter's", 'Sam Houston State',
       'Samford', 'San Diego State', 'San Diego', 'San Francisco',
       'San Jose State', 'Santa Clara', 'Savannah State', 'Seattle',
       'Seton Hall', 'Siena', 'South Alabama', 'South Carolina State',
       'South Carolina Upstate', 'South Carolina', 'South Dakota State',
       'South Dakota', 'South Florida', 'Southeast Missouri State',
       'Southeastern Louisiana', 'USC', 'SIU Edwardsville',
       'Southern Illinois', 'Southern Methodist', 'Southern Mississippi',
       'Southern Utah', 'Southern', 'St. Bonaventure', 'St. Francis (NY)',
       "St. John's (NY)", 'Stanford', 'Stephen F. Austin', 'Stetson',
       'Stony Brook', 'Syracuse', 'Temple', 'Tennessee-Martin',
       'Tennessee State', 'Tennessee Tech', 'Tennessee',
       'Texas A&M-Corpus Christi', 'Texas A&M', 'Texas-Arlington',
       'Texas Christian', 'UTEP', 'Texas-Rio Grande Valley', 'UCF',
       'Texas Southern', 'Texas State', 'Texas Tech', 'Texas', 'Toledo',
       'Towson', 'Troy', 'Tulane', 'Tulsa', 'UCLA', 'Utah State',
       'Utah Valley', 'Utah', 'Valparaiso', 'Vanderbilt', 'Vermont',
       'Villanova', 'VCU', 'VMI', 'Virginia Tech', 'Virginia', 'Wagner',
       'Wake Forest', 'Washington State', 'Washington', 'Weber State',
       'West Virginia', 'Western Carolina', 'Western Illinois',
       'Western Kentucky', 'Western Michigan', 'Wichita State',
       'William & Mary', 'Winthrop', 'Wisconsin', 'Wofford',
       'Wright State', 'Wyoming', 'Xavier', 'Yale', 'Youngstown State'],
      dtype=object)

In [236]:
season_opp = season.copy()

In [237]:
season_opp = season_opp.add_suffix('_opp')

In [238]:
season_opp = season_opp.rename(columns={'Team2_opp':'Opp'})

In [243]:
games = games.merge(season, on=['Team2'])
games = games.merge(season_opp, on=['Opp'])

In [285]:
games['W/L'] = games['W/L'].str.get(0)

In [286]:
gbr = GradientBoostingClassifier()

In [323]:
games.columns.values

array(['Unnamed: 0', 'G', 'Date', 'Site', 'Opp', 'W/L', 'score_Tm',
       'score_Opp', 'Tm_FG', 'Tm_FGA', 'Tm_FG%', 'Tm_3P', 'Tm_3PA',
       'Tm_3P%', 'Tm_FT', 'Tm_FTA', 'Tm_FT%', 'Tm_ORB', 'Tm_TRB',
       'Tm_AST', 'Tm_STL', 'Tm_BLK', 'Tm_TOV', 'Tm_PF', 'blank_x',
       'opp_FG', 'opp_FGA', 'opp_FG%', 'opp_3P', 'opp_3PA', 'opp_3P%',
       'opp_FT', 'opp_FTA', 'opp_FT%', 'opp_ORB', 'opp_TRB', 'opp_AST',
       'opp_STL', 'opp_BLK', 'opp_TOV', 'opp_PF', 'Team', 'Team2', 'Rk',
       'School', 'o_G', 'o_W', 'o_L', 'o_W-L%', 'o_SRS', 'o_SOS',
       'conf_W', 'conf_L', 'home_W', 'home_L', 'away_W', 'away_L',
       'pts_Tm', 'pts_Opp', 'blank_y', 'totals_MP', 'totals_FG',
       'totals_FGA', 'totals_FG%', 'totals_3P', 'totals_3PA',
       'totals_3P%', 'totals_FT', 'totals_FTA', 'totals_FT%',
       'totals_ORB', 'totals_TRB', 'totals_AST', 'totals_STL',
       'totals_BLK', 'totals_TOV', 'totals_PF', 'Rk_opp', 'School_opp',
       'o_G_opp', 'o_W_opp', 'o_L_opp', 'o_W-L%_opp', 'o_SRS_opp',
       'o_SOS_opp', 'conf_W_opp', 'conf_L_opp', 'home_W_opp',
       'home_L_opp', 'away_W_opp', 'away_L_opp', 'pts_Tm_opp',
       'pts_Opp_opp', 'blank_opp', 'totals_MP_opp', 'totals_FG_opp',
       'totals_FGA_opp', 'totals_FG%_opp', 'totals_3P_opp',
       'totals_3PA_opp', 'totals_3P%_opp', 'totals_FT_opp',
       'totals_FTA_opp', 'totals_FT%_opp', 'totals_ORB_opp',
       'totals_TRB_opp', 'totals_AST_opp', 'totals_STL_opp',
       'totals_BLK_opp', 'totals_TOV_opp', 'totals_PF_opp'], dtype=object)

In [324]:
features = ['o_SRS', 'Tm_FGA', 'Tm_3PA', 'Tm_FTA', 
            'Tm_ORB', 'Tm_TRB', 'Tm_STL', 
            'Tm_BLK', 'Tm_TOV', 'Tm_PF', 'o_SRS_opp',
            'opp_FGA', 'opp_3PA', 'opp_FTA', 
            'opp_ORB', 'opp_TRB', 'opp_STL', 
            'opp_BLK', 'opp_TOV', 'opp_PF']
y_features = ['score_Tm', 'score_Opp']

In [325]:
gbr.fit(games[features], games['W/L'])

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=100, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False)

In [326]:
pd.DataFrame(gbr.feature_importances_, index=features).sort_values(0, ascending=False)

                  0
Tm_TRB     0.157239
opp_TRB    0.148258
opp_TOV    0.094357
Tm_TOV     0.090728
Tm_ORB     0.087168
opp_ORB    0.087132
o_SRS_opp  0.077686
o_SRS      0.076062
Tm_FTA     0.042318
opp_FTA    0.039932
opp_PF     0.020877
Tm_PF      0.017822
opp_BLK    0.013374
Tm_BLK     0.012776
Tm_STL     0.009540
opp_STL    0.009362
Tm_FGA     0.007423
opp_FGA    0.005620
opp_3PA    0.001582
Tm_3PA     0.000742

In [327]:
season.loc[season['Team2']=='Delaware State', 'totals_FGA']

72    1781.0
Name: totals_FGA, dtype: float64

In [328]:
season.columns.values

array(['Rk', 'School', 'o_G', 'o_W', 'o_L', 'o_W-L%', 'o_SRS', 'o_SOS',
       'conf_W', 'conf_L', 'home_W', 'home_L', 'away_W', 'away_L',
       'pts_Tm', 'pts_Opp', 'blank', 'totals_MP', 'totals_FG',
       'totals_FGA', 'totals_FG%', 'totals_3P', 'totals_3PA',
       'totals_3P%', 'totals_FT', 'totals_FTA', 'totals_FT%',
       'totals_ORB', 'totals_TRB', 'totals_AST', 'totals_STL',
       'totals_BLK', 'totals_TOV', 'totals_PF', 'Team2'], dtype=object)

In [329]:
def get_team_data(TEAM, OPP_TEAM):
    temp = pd.DataFrame()
    game_denom_tm = season.loc[season['Team2']==TEAM, 'o_G'].values
    temp['o_SRS'] = [(season.loc[season['Team2']==TEAM, 'o_SRS']).values[0]]
    temp['Tm_FGA'] = (season.loc[season['Team2']==TEAM, 'totals_FGA'] / game_denom_tm).values[0]
    temp['Tm_3PA'] = (season.loc[season['Team2']==TEAM, 'totals_3PA'] / game_denom_tm).values[0]
    temp['Tm_FTA'] = (season.loc[season['Team2']==TEAM, 'totals_FTA'] / game_denom_tm).values[0]
    temp['Tm_ORB'] = (season.loc[season['Team2']==TEAM, 'totals_ORB'] / game_denom_tm).values[0]
    temp['Tm_TRB'] = (season.loc[season['Team2']==TEAM, 'totals_TRB'] / game_denom_tm).values[0]
    temp['Tm_STL'] = (season.loc[season['Team2']==TEAM, 'totals_STL'] / game_denom_tm).values[0]
    temp['Tm_BLK'] = (season.loc[season['Team2']==TEAM, 'totals_BLK'] / game_denom_tm).values[0]
    temp['Tm_TOV'] = (season.loc[season['Team2']==TEAM, 'totals_TOV'] / game_denom_tm).values[0]
    temp['Tm_PF'] = (season.loc[season['Team2']==TEAM, 'totals_PF'] / game_denom_tm).values[0]

    game_denom_opp = season.loc[season['Team2']==OPP_TEAM, 'o_G'].values
    temp['o_SRS_opp'] = (season.loc[season['Team2']==OPP_TEAM, 'o_SRS']).values[0]
    temp['opp_FGA'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_FGA'] / game_denom_opp).values[0]
    temp['opp_3PA'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_3PA'] / game_denom_opp).values[0]
    temp['opp_FTA'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_FTA'] / game_denom_opp).values[0]
    temp['opp_ORB'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_ORB'] / game_denom_opp).values[0]
    temp['opp_TRB'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_TRB'] / game_denom_opp).values[0]
    temp['opp_STL'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_STL'] / game_denom_opp).values[0]
    temp['opp_BLK'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_BLK'] / game_denom_opp).values[0]
    temp['opp_TOV'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_TOV'] / game_denom_opp).values[0]
    temp['opp_PF'] = (season.loc[season['Team2']==OPP_TEAM, 'totals_PF'] / game_denom_opp).values[0]
    return temp

In [316]:
season['Team2'].unique()

array(['Abilene Christian', 'Air Force', 'Akron', 'Alabama A&M',
       'Alabama-Birmingham', 'Alabama State', 'Alabama', 'Albany (NY)',
       'Alcorn State', 'American', 'Appalachian State', 'Arizona State',
       'Arizona', 'Arkansas-Little Rock', 'Arkansas-Pine Bluff',
       'Arkansas State', 'Arkansas', 'Army', 'Auburn', 'Austin Peay',
       'Ball State', 'Baylor', 'Belmont', 'Bethune-Cookman', 'Binghamton',
       'Boise State', 'Boston College', 'Boston University',
       'Bowling Green State', 'Bradley', 'Brigham Young', 'Brown',
       'Bryant', 'Bucknell', 'Buffalo', 'Butler', 'Cal Poly',
       'Cal State Bakersfield', 'Cal State Fullerton',
       'Cal State Northridge', 'UC-Davis', 'UC-Irvine', 'UC-Riverside',
       'UNC', 'University of California', 'Campbell', 'Canisius',
       'Central Arkansas', 'Central Connecticut State', 'BYU',
       'Central Michigan', 'Charleston Southern', 'Charlotte',
       'Chattanooga', 'Chicago State', 'Cincinnati', 'Citadel', 'Clemson',
       'Cleveland State', 'Coastal Carolina', 'Colgate',
       'College of Charleston', 'Colorado State', 'Colorado', 'Columbia',
       'Connecticut', 'Coppin State', 'Cornell', 'Creighton', 'Dartmouth',
       'Davidson', 'Dayton', 'Delaware State', 'Delaware', 'Denver',
       'DePaul', 'Detroit Mercy', 'Drake', 'Drexel', 'Duke', 'Duquesne',
       'East Carolina', 'UMKC', 'Eastern Illinois', 'Eastern Kentucky',
       'Eastern Michigan', 'Eastern Washington', 'Elon', 'Evansville',
       'Fairfield', 'Fairleigh Dickinson', 'Florida A&M',
       'Florida Atlantic', 'Florida Gulf Coast', 'Florida International',
       'Florida State', 'Florida', 'Fordham', 'Fresno State', 'Furman',
       'Gardner-Webb', 'George Mason', 'George Washington', 'Georgetown',
       'Georgia Southern', 'Georgia State', 'Georgia Tech', 'Georgia',
       'Gonzaga', 'Grambling', 'Grand Canyon', 'Green Bay', 'Hampton',
       'Hartford', 'Harvard', 'Hawaii', 'High Point', 'Hofstra',
       'Holy Cross', 'Houston Baptist', 'Houston', 'Howard',
       'Idaho State', 'Idaho', 'ETSU', 'Illinois State', 'Illinois',
       'Incarnate Word', 'Indiana State', 'Indiana', 'Iona', 'Iowa State',
       'Iowa', 'IPFW', 'IUPUI', 'Jackson State', 'Jacksonville State',
       'Jacksonville', 'James Madison', 'Kansas State', 'Kansas',
       'Kennesaw State', 'Kent State', 'Kentucky', 'La Salle',
       'Lafayette', 'Lamar', 'Lehigh', 'Liberty', 'Lipscomb',
       'Long Beach State', 'Long Island University', 'Longwood',
       'Louisiana', 'Louisiana-Monroe', 'LSU', 'Louisiana Tech',
       'Louisville', 'Loyola (IL)', 'Loyola Marymount', 'Loyola (MD)',
       'Maine', 'Manhattan', 'Marist', 'Marquette', 'Marshall',
       'Maryland-Baltimore County', 'Maryland-Eastern Shore', 'Maryland',
       'Massachusetts-Lowell', 'Massachusetts', 'McNeese State',
       'Memphis', 'Mercer', 'Miami (FL)', 'Miami (OH)', 'Michigan State',
       'Michigan', 'Middle Tennessee', 'Milwaukee', 'Minnesota',
       'Mississippi State', 'Mississippi Valley State', 'Mississippi',
       'UCSB', 'Missouri State', 'Missouri', 'Monmouth', 'Montana State',
       'Montana', 'Morehead State', 'Morgan State', "Mount St. Mary's",
       'Murray State', 'Navy', 'Nebraska-Omaha', 'Nebraska', 'UNLV',
       'Nevada', 'New Hampshire', 'New Mexico State', 'New Mexico',
       'New Orleans', 'Niagara', 'Nicholls State', 'NJIT',
       'Norfolk State', 'North Carolina-Asheville', 'North Carolina A&T',
       'North Carolina Central', 'North Carolina-Greensboro',
       'North Carolina State', 'North Carolina-Wilmington',
       'North Carolina', 'North Dakota State', 'North Dakota',
       'North Florida', 'North Texas', 'Northeastern', 'Northern Arizona',
       'Northern Colorado', 'Northern Illinois', 'Northern Iowa',
       'Northern Kentucky', 'Northwestern State', 'Northwestern',
       'Notre Dame', 'Oakland', 'Ohio State', 'Ohio', 'Oklahoma State',
       'Oklahoma', 'Old Dominion', 'Oral Roberts', 'Oregon State',
       'Oregon', 'Pacific', 'Penn State', 'Pennsylvania', 'Pepperdine',
       'Pittsburgh', 'Portland State', 'Portland', 'Prairie View',
       'Presbyterian', 'Princeton', 'Providence', 'Purdue', 'Quinnipiac',
       'Radford', 'Rhode Island', 'Rice', 'Richmond', 'Rider',
       'Robert Morris', 'Rutgers', 'Sacramento State', 'Sacred Heart',
       'Saint Francis (PA)', "Saint Joseph's", 'Saint Louis',
       "Saint Mary's (CA)", "Saint Peter's", 'Sam Houston State',
       'Samford', 'San Diego State', 'San Diego', 'San Francisco',
       'San Jose State', 'Santa Clara', 'Savannah State', 'Seattle',
       'Seton Hall', 'Siena', 'South Alabama', 'South Carolina State',
       'South Carolina Upstate', 'South Carolina', 'South Dakota State',
       'South Dakota', 'South Florida', 'Southeast Missouri State',
       'Southeastern Louisiana', 'USC', 'SIU Edwardsville',
       'Southern Illinois', 'Southern Methodist', 'Southern Mississippi',
       'Southern Utah', 'Southern', 'St. Bonaventure', 'St. Francis (NY)',
       "St. John's (NY)", 'Stanford', 'Stephen F. Austin', 'Stetson',
       'Stony Brook', 'Syracuse', 'Temple', 'Tennessee-Martin',
       'Tennessee State', 'Tennessee Tech', 'Tennessee',
       'Texas A&M-Corpus Christi', 'Texas A&M', 'Texas-Arlington',
       'Texas Christian', 'UTEP', 'Texas-Rio Grande Valley', 'UCF',
       'Texas Southern', 'Texas State', 'Texas Tech', 'Texas', 'Toledo',
       'Towson', 'Troy', 'Tulane', 'Tulsa', 'UCLA', 'Utah State',
       'Utah Valley', 'Utah', 'Valparaiso', 'Vanderbilt', 'Vermont',
       'Villanova', 'VCU', 'VMI', 'Virginia Tech', 'Virginia', 'Wagner',
       'Wake Forest', 'Washington State', 'Washington', 'Weber State',
       'West Virginia', 'Western Carolina', 'Western Illinois',
       'Western Kentucky', 'Western Michigan', 'Wichita State',
       'William & Mary', 'Winthrop', 'Wisconsin', 'Wofford',
       'Wright State', 'Wyoming', 'Xavier', 'Yale', 'Youngstown State'],
      dtype=object)

In [ ]:
Kentucky
Xavier 
Purdue
Michigan State

In [465]:
data = get_team_data('Xavier', 'Purdue')
gbr.predict(data)

array(['W'], dtype=object)

In [466]:
gbr.predict_proba(data)

array([[0.37982196, 0.62017804]])

In [320]:
gbr.classes_

array(['L', 'W'], dtype=object)